@mixin flex($direction ,$justify: center ,  $gap: 0,$align: center) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    gap: $gap;
    align-items: $align;
}

@mixin border-clr($clr){
 background: $clr;
}


@mixin active_toggle--dimension($height,$offset){
    $offset2: 2 * $offset;
    $offset3: 3 * $offset;
    height: $height + $offset2;
    width: 2 * ($height + $offset2);
    border-radius: 2 * ($height+$offset);
   &::after{
        height: $height;
        width: $height;
      
    }
    &:checked::after{
        left: $offset3+$height;
        top: $offset;
    }
}

@mixin toggle-size($height,$offset){
    $offset2: 2 * $offset;
    height: $height + $offset2;
    width: 2 * ($height + $offset2);
    border-radius: 2 * ($height+$offset);
  
}

@mixin slider-size($height){
    height: $height;
     width: $height;
 }

@mixin slider-pos($offset){
    right: $offset;
    top: $offset;
}

@mixin slider-pos--active($height,$offset){
    right: 3*$offset + $height;
}

@mixin toggle-clr($clr){
    background: $clr;
}
@mixin transition-ease{
    transition: all 0.29s ease;
}

@mixin query($value){
    @media (min-width: $value){
        @content
    }
}