.cards__container{
    display: grid; 
    gap: 10px;
    @include query($ipad){
    
        grid-template-columns: repeat(2 , 1fr);
         gap: 10px;
    
    }
    @include query($laptop){
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; 
    }
    @include query($laptop2){
        grid-template-columns: repeat(4, 1fr);
        gap: 10px; 
    }
}