
.card{
    @extend %card;
    @include increment-today;
    @include flex(column,center,25px);
    position: relative;
    overflow: hidden;
    text-align: center;
    &__username{
        @include flex(row,center,9px);
       a{
           display: grid;
       }
    }
    &__followers{
        p:first-of-type{
            font-weight: font-weight(bold);
         font-size: font-size(xxlg);
           
        }
        p:last-of-type{
            font-weight: font-weight(regular);
            text-transform: uppercase;
            letter-spacing: 7px;
            font-size: font-size(lg);
        }
    }
   
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: red;
        }
}

.card--facebook{
    &::before{
      @include border-clr(brand-clr(fb));
    }
}

.card--twitter{
    &::before{
      @include border-clr(brand-clr(tw));
    }
}

.card--instagram{
    &::before{
      @include border-clr(brand-clr(ig));
    }
}

.card--youtube{
    &::before{
      @include border-clr(brand-clr(yt));
    }
}