.dragon {
    @include transition-ease;
    background: dark-theme(bg);
    background-size: 10vh;
    color: dark-theme(text1);
    header {
        background-color: dark-theme(top_bg-pattern);
    }
    .card {
        @include transition-ease;
        background-color: dark-theme(card_bg);
        color: dark-theme(text1)
    }
    .overview {
        @include transition-ease;
        background-color: dark-theme(card_bg);
        color: dark-theme(text1);
    }
    .toggle {
        &:checked {
            @include transition-ease;
            @include toggle-clr(dark-theme(toggle));
            &::after {
                @include transition-ease;
                @include slider-pos--active($toggle-height, $toggle-offset);
                @include toggle-clr(dark-theme(bg));
            }
        }
    }
}