%toggle{
     appearance: none;
     outline: none;
     position: relative;
     &::after{
         content: '';
         position: absolute;
         border-radius: 100%;
         
     }
}

%card {
    width: 100%;
    max-width: 380px;
   margin: 0 auto ;
   background-color: light-theme(card_bg);
   padding: 35px;
   border-radius: 5px;
   
}
