@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
$font-family: 'Inter', sans-serif;
$font-nml: 1rem;


$font-weight: (
    "regular": 400,
    "bold": 700,
);

$font-size: (
    "xsm": $font-nml / 2.4,
    "sm": $font-nml / 1.1 ,
    "nml": $font-nml,
    "md": 1.2 * $font-nml ,
    "lg": 1.4 * $font-nml,
    "xlg": 1.8 * $font-nml,
    "xlg1": 2.4 * $font-nml,
    "xxlg": 4.5 * $font-nml,
)


